---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "My About Learning Blog";
const pageDescription = "Learn more about me and my blog journey.";


const identity = {
	firstname: "Masood",
	country: "Ghana",
	age: 21,
	occupation: "Software Engineer",
	interests: ["coding", "gaming", "reading", "traveling"],
}
const skills = [
	"JavaScript",
	"TypeScript",
	"React",
	"Node.js",
	"Astro",
	"CSS",
	"HTML",
	"Writing Tutorials",
];

const happy= true;
const finished = true;
const goal =3;

const skillcolor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
  <style define:vars={{skillcolor,fontWeight,textCase}}>
         h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillcolor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
    </style>
    <BaseLayout
        pageTitle={pageTitle}
        pageDescription={pageDescription}
    >
        <p>Here are facts about me:</p>
		<ul>
			<li>My Name is {identity.firstname}</li>
			<li>I'm from {identity.country}</li>
			<li>I'm {identity.age} years old</li>
			<li>I'm a {identity.occupation}</li>
			<li>My interests include {identity.interests.join(", ")}</li>
		</ul>

		<p>My Skills include:</p>
		<ul>
			{skills.map(skill => (
				<li class="skill">{skill}</li>
			))}
		</ul>

    {happy && <p>I'm happy to share my journey with you!</p>}
    {finished && <p>I've finished my first blog post!</p>}
    {goal === 3 ? (
        <p>My goal is to write 3 blog posts this month.</p>
    ) : (
        <p>I'm still working towards my goal of writing 3 blog posts.</p>
    )}
</BaseLayout>